@model Burgija.Models.Tool

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Tool</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ToolTypeId" class="control-label"></label>
                <select asp-for="ToolTypeId" class="form-control">
                    @foreach (var toolType in ViewBag.ToolType)
                    {
                        <option value="@toolType.Id">@toolType.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="StoreId" class="control-label"></label>
                <select asp-for="StoreId" class="form-control">
                    @foreach (var store in ViewBag.Store)
                    {
                        <option value="@store.Id">@store.Id @store.StoreLocation.Address</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Admin Panel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
