@model IEnumerable<Burgija.ViewModels.RentAndToolType>

@{
    ViewData["Title"] = "RentHistory";
}

<head>
    <link rel="stylesheet" href="~/css/renthistory.css" asp-append-version="true" />
</head>

<div class="page-content">
    <div class="rent-header">
        <p>Rent history:</p>
    </div>
    

    @foreach(var item in Model){
    <div class="rent-history-item">
        <div class="left-section">
            <img src="@item.ToolType.Image" />
        </div>
        <div class="right-section">
           
            <div id="first-row" class="row">
                <p class="article-id">@item.Rent.ToolId</p>
                <a class="item-link" asp-controller="Home" asp-action="ToolDetails" asp-route-id="@item.ToolType.Id">See item!</a>
            </div>
            <div class="row">
                <p class="article-name">@item.ToolType.Name</p>
            </div>
            <div id="third-row" class="row">
                <p class="start-date">Start of rent: @item.Rent.StartOfRent </p>
                <p class="end-date">End of rent: @item.Rent.EndOfRent </p>
                <p class="total-date">Number of days: @{
                            @item.Rent.EndOfRent.Subtract(@item.Rent.StartOfRent).TotalDays
                        }
                </p>

            </div>
            <div id="fourth-row" class="row">
                <p class="article-price">Price of rent: @item.Rent.RentPrice</p>
                <div class="active-status">
                    @{
                        if(item.Rent.EndOfRent > DateTime.Now && item.Rent.StartOfRent < DateTime.Now){
                                <p>Currently rented</p>
                            }
                            else if(item.Rent.StartOfRent > DateTime.Now)
                            {
                                <p>Reserved</p>
                            }
                            else
                            {
                                <p>Returned</p>
                            }
                        }
                </div>
            </div>
            
        </div>
    </div>
    }
</div>
