@model IEnumerable<Burgija.Models.RentAndToolType>

@{
    ViewData["Title"] = "RentHistory";
}

<head>
    <link rel="stylesheet" href="~/css/renthistory.css" asp-append-version="true" />
</head>

<div class="page-content">
    <div class="rent-header"></div>
    

    @foreach(var item in Model){
    <div class="rent-history-item">
        <div class="left-section">
            <img src="" />
        </div>
        <div class="right-section">
           
            <div id="first-row" class="row">
                <p class="article-id">@item.Rent.ToolId</p>
                <a class="item-link" href="">See item!</a>
            </div>
            <div class="row">
                <p class="article-name">@item.ToolType.Name</p>
            </div>
            <div id="third-row" class="row">
                <p class="start-date">Start of rent: @item.Rent.StartOfRent </p>
                <p class="end-date">End of rent: @item.Rent.EndOfRent </p>
                <p class="total-date">Number of days: </p>

            </div>
            <div id="fourth-row" class="row">
                <p class="article-price">Price of rent: @item.Rent.RentPrice</p>
                <div class="active-status">Returned</div>
            </div>
            
        </div>
    </div>
    
    }
</div>
