@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ToolType
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <script src="https://kit.fontawesome.com/680ff5430a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/tooltypeitem.css" asp-append-version="true" />

    <style>

        #main {
            margin-bottom: 60px;
        }
    </style>
</head>
<a asp-action="ToolDetails" asp-route-id="@Model.Id">
<div  class="tool-type-box">
    <div class="item-img">
        <img src="@Model.Image" />
    </div>
    <div class="item-info">
        <div class="upper-part">
            <p class="item-title">@Model.Name</p>
        </div>
        <div class="middle-part">
            <div class="item-tag">
                    <P>@Model.Category.ToString().Substring(Array.FindLastIndex<char>((@Model.Category.ToString()).ToCharArray(), Char.IsUpper))</P>
                
            </div>
        </div>
        <div class="lower-part">
            <p class="invisible">a</p>
            <p class="price">@Model.Price KM</p>
        </div>
    </div>
</div>
</a>
</html>