@model Burgija.Models.ToolType

@{
    ViewData["Title"] = "ToolDetails";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <script src="https://kit.fontawesome.com/680ff5430a.js" crossorigin="anonymous"></script>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />--->
    <link rel="stylesheet" href="~/css/toolpage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/reviews.css" asp-append-version="true"/>

</head>

<body>
    <div class="page-content">
        <div class="path-container">
            <p>@Model.Category - - > @Model.Name.Substring(0,Model.Name.IndexOf("-"))</p>
        </div>
        <div class="item-container">
            <div class="item-img">
            <img src="https://cdn.horme.com.sg/images/product/20130603174032VOYGZSSTOIHWR_700.jpg" />
                
            </div>
            <div class="item-details">
                
                <p class="item-title">@Model.Name</p>
                <p class="item-price">BAM <span id="price-value">@Model.Price</span>KM</p>
                <div class="item-storage">
                    <i class="fa-solid fa-truck fa-lg"></i>
                    @foreach(var item in ViewBag.ToolAndStore){
                        <p>@item.Quantity items, @item.Address @item.StoreId</p><br>
                    }
                    
                </div>
                
                <button class="rent-button">Rent</button>
            </div>
        </div>

        <div class="review-container">
            <div class="review-upper">
                <div class="left-section">
                    <div class="rating-histogram">
                        <div class="rating-overview">
                            <div class="rating-overview-value">
                                <i class="fa-solid fa-star fa-xl" style="color: #eed372;"></i>
                                <p>4.0</p>
                            </div>
                            <div class="rating-overview-members">
                                <i class="fa-solid fa-user fa-lg"></i>

                                <p>74 total</p>
                            </div>

                        </div>
                        <div class="rating-by-mark">
                            <ul>
                                <li>
                                    <i class="fa-solid fa-star fa-xl" style="color: #eed372;"></i>

                                    <p>5:   3</p>
                                </li>
                                <li>
                                    <i class="fa-solid fa-star fa-xl" style="color: #eed372;"></i>

                                    <p>4:   3</p>
                                </li>
                                <li>
                                    <i class="fa-solid fa-star fa-xl" style="color: #eed372;"></i>

                                    <p>3:   3</p>
                                </li>
                                <li>
                                    <i class="fa-solid fa-star fa-xl" style="color: #eed372;"></i>

                                    <p>2:   3</p>
                                </li>
                                <li>
                                    <i class="fa-solid fa-star fa-xl" style="color: #eed372;"></i>

                                    <p>1:   3</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="right-section">
                    <form class="give-a-review">
                        <p>Ahmed Ljubuncic</p>
                        <div class="rating">
                        
                        </div>
                        <textarea class="comment" autofocus name="textbox" cols="128" rows="10" class="textbox" placeholder="Give us a comment"></textarea>
                        <input class="apply-button" type="submit" value="Send review" />
                    </form>
                </div>
            </div>
            
            <div class="review-title">
                <p>Comments</p>
            </div>
            <div class="review">
                <div class="review-header">
                    <p class="review-username">Ahmed Ljubuncic</p>
                    <div class="review-value">
                        <!--ikonica za zvijezdu-->
                        <i class="fa-solid fa-star fa-xl" style="color: #eed372;"></i>
                        <p class="review-number">8/10</p>
                    </div>
                </div>
                <div class="review-content">Great stuff to rent here!</div>               
            </div>

            <div class="review">
                <div class="review-header">
                    <p class="review-username">Ahmed Ljubuncic</p>
                    <div class="review-value">
                        <!--ikonica za zvijezdu-->
                        <i class="fa-solid fa-star fa-xl" style="color: #eed372;"></i>
                        <p class="review-number">8/10</p>
                    </div>
                </div>
                <div class="review-content">Great stuff to rent here!</div>
            </div>

            <div class="review">
                <div class="review-header">
                    <p class="review-username">Ahmed Ljubuncic</p>
                    <div class="review-value">
                        <!--ikonica za zvijezdu-->
                        <i class="fa-solid fa-star fa-xl" style="color: #eed372;"></i>
                        <p class="review-number">8/10</p>
                    </div>
                </div>
                <div class="review-content">Great stuff to rent here!</div>
            </div>

            

            
        </div>

    </div>
    <!--<partial name="~/Views/Home/_Filter.cshtml" />-->
</body>
</html>
