@model IEnumerable<Burgija.Models.Tool>

@{
    ViewData["Title"] = "ToolDetails";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <script src="https://kit.fontawesome.com/680ff5430a.js" crossorigin="anonymous"></script>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />--->
    <link rel="stylesheet" href="~/css/toolpage.css" asp-append-version="true" />

</head>

<body>
    <div class="page-content">
        <div class="path-container"></div>
        <div class="item-container">
            <div class="item-img">
                <img src="https://image.schrackcdn.com/340x380/f_mgf39000--.jpg" alt="">
            </div>
            <div class="item-details">
                <p class="item-id">Artikl #: 33245</p>
                <p class="item-title">Schrack busilica 24A, 120mm</p>
                <p class="item-price">BAM <span id="price-value">120,50 </span>KM</p>
                <div class="item-storage">
                    <i class="fa-solid fa-truck fa-lg"></i>
                    <p>13 Kom, Sarajevo</p>
                </div>
                <div class="item-input-form">
                    <p>Kolicina: </p>
                    <input type="number" name="" id="ammount">
                </div>
                <button class="rent-button">Rent</button>
            </div>
        </div>
    </div>
    <!--<partial name="~/Views/Home/_Filter.cshtml" />-->
</body>
<!--
<table class="table">
    <thead>
        <tr>
            <th>
@Html.DisplayNameFor(model => model.ToolType)
            </th>
            <th>
@Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
@Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
            <tr>
                <td>
            @Html.DisplayFor(modelItem => item.ToolType.Name)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">See Details</a>
                </td>
            </tr>
}
    </tbody>
</table>-->
