@model Burgija.Models.Delivery

@{
    ViewData["Title"] = "Mark as delivered";
}

<h1>Delete</h1>

<h3>Are you sure you want to mark this as delivered?</h3>
<div>
    <h4>Delivery</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Courier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Courier.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserPhoneNumber)
        </dd>
    </dl>
    
    <form asp-action="Mark as delivered">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="MarkAsDeliverrd" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
